/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 3, 2019, 12:19:09 PM
    Author     : frontend
*/

/*

> 0px   XS - NO NAME


> 576px SM - small devices



> 768px MD  - medium devices


> 992px  LG    large devices



> 1200px  XL   extra large devices

*/

@media (min-width: 576px) {
  .services-item {
    margin-bottom: 25px;
  }
}

@media (min-width: 768px) {
  .carousel-item figure {
    margin-left: 50px;
  }
  .carousel-indicators li {
    margin-bottom: 120px;
  }
}

@media (min-width: 992px) {
  .navbar-light .navbar-nav .nav-link {
    padding: 15px;
  }
  .carousel-item figure {
    margin-left: 100px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
  .navbar-light .navbar-nav .nav-item {
    margin-left: 15px;
  }
}
